/*
#   $$$$$$\  $$\           $$\                 $$\           
#  $$  __$$\ $$ |          $$ |                $$ |          
#  $$ /  \__|$$ | $$$$$$\  $$$$$$$\   $$$$$$\  $$ | $$$$$$$\ 
#  $$ |$$$$\ $$ |$$  __$$\ $$  __$$\  \____$$\ $$ |$$  _____|
#  $$ |\_$$ |$$ |$$ /  $$ |$$ |  $$ | $$$$$$$ |$$ |\$$$$$$\  
#  $$ |  $$ |$$ |$$ |  $$ |$$ |  $$ |$$  __$$ |$$ | \____$$\ 
#  \$$$$$$  |$$ |\$$$$$$  |$$$$$$$  |\$$$$$$$ |$$ |$$$$$$$  |
#   \______/ \__| \______/ \_______/  \_______|\__|\_______/ 
#                                                            
#                                                            
# */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

body {
	font-family: 'Lato', sans-serif ;
	font-weight: 300;
	background-color: #f6f6f6;
	color: #343433;
	text-align: left;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
}

a:link, a:visited {
	color: #70bcb9;
	font-style: italic;
	font-weight: 600;
	text-decoration: underline;
}

img {
	max-width: 100%;
}
.blue_accent {
	color: #712a75;
}
h1,h2,h3,h4 {
	font-family: 'Playfair Display';
    color: #731369;
}
.t-w {
	color: #fff;
}
.t-u {
	text-decoration: underline;
}
.text-center {
	text-align: center;
}

/*
#  $$\                                 $$\                     
#  $$ |                                $$ |                    
#  $$$$$$$\   $$$$$$\   $$$$$$\   $$$$$$$ | $$$$$$\   $$$$$$\  
#  $$  __$$\ $$  __$$\  \____$$\ $$  __$$ |$$  __$$\ $$  __$$\ 
#  $$ |  $$ |$$$$$$$$ | $$$$$$$ |$$ /  $$ |$$$$$$$$ |$$ |  \__|
#  $$ |  $$ |$$   ____|$$  __$$ |$$ |  $$ |$$   ____|$$ |      
#  $$ |  $$ |\$$$$$$$\ \$$$$$$$ |\$$$$$$$ |\$$$$$$$\ $$ |      
#  \__|  \__| \_______| \_______| \_______| \_______|\__|      
#                                                              
#                                                              
#                                                              
*/
.header-strapline {
	background: #70bcb9;
    box-shadow: 0px 3px 6px rgba(0,0,0, .12);
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0, .12);
    -moz-box-shadow: 0px 3px 6px rgba(0,0,0, .12);
    padding: 10px 0 4px 0;
}
.header {
	max-width: 1170px;
	margin: 25px auto;
	text-align: center;
}
#header-headline {
	font-size: 2.5rem;
}
#header-subhead {
	font-family: "Lato";
	color: #555;
}
.header-strapline p {
	font-size: 22px;
    margin-bottom: 10px;
}
/*
#                          $$\           
#                          \__|          
#  $$$$$$\$$$$\   $$$$$$\  $$\ $$$$$$$\  
#  $$  _$$  _$$\  \____$$\ $$ |$$  __$$\ 
#  $$ / $$ / $$ | $$$$$$$ |$$ |$$ |  $$ |
#  $$ | $$ | $$ |$$  __$$ |$$ |$$ |  $$ |
#  $$ | $$ | $$ |\$$$$$$$ |$$ |$$ |  $$ |
#  \__| \__| \__| \_______|\__|\__|  \__|
#                                        
#                                        
#                                        
*/
.main {
	max-width: 1170px;
	width: 100%;
	margin: 25px auto;
	display: table;
	table-layout: fixed;
}
.main_left, .main_right {
	display: table-cell;
	padding: 20px 0;
}
.main_left {
	background-color: #69b9bb;
	width: 60%;
	text-align: center;
	height: 690px;
	vertical-align: top;
}
.main_right {
	background-color: #fdfdfd;
	width: 40%;
	text-align: center;
	vertical-align: middle;
}
.main_left-content {
	position: relative;
	max-width: 300px;
	margin: 0 auto;
	padding 0 25px;
}
.main_right-content {
	padding: 0 25px;
}
.main_left-image {
	position: absolute;
	top: 10px;
	left: 105%;
}
.main_left-upgrade {
	font-size: 1.125rem;
	font-weight: 400;
	margin: 0 auto;
}
.main_right-offer {
	margin: 20px 0;
	padding: 25px 15px 25px 20px;
	text-align: left;
}
.main_right-title {
	font-size: .9375rem;
}
.main_right-list {
	list-style: none;
}
.main_right-list li {
	position: relative;
	margin-top: 23px;
	padding-left: 45px;
}
.main_right-list li:before {
	background: url("http://www.conqueryourpcosnaturally.com/wp-content/uploads/2018/03/checked2.svg") no-repeat left 3px;
	background-size: 28px;
	content: "";
	display: inline-block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -4px;
	left: 0;
}
.main_right-upgrade {
	margin-top: 25px;
}
.main_right-footer {
	font-size: .9375rem;
}


/*
#  $$\        $$\               
#  $$ |       $$ |              
#  $$$$$$$\ $$$$$$\   $$$$$$$\  
#  $$  __$$\\_$$  _|  $$  __$$\ 
#  $$ |  $$ | $$ |    $$ |  $$ |
#  $$ |  $$ | $$ |$$\ $$ |  $$ |
#  $$$$$$$  | \$$$$  |$$ |  $$ |
#  \_______/   \____/ \__|  \__|
#                               
#                               
#     
*/
.btn {
	position: relative;
	font: bold 20px/1.2em 'Playfair Display', arial, sans-serif;
	font-size: .875rem;
	text-transform: uppercase;
	display: block;
	border-radius: 3px;
	background-color: #70bcb9;
    border-color: #70bcb9;
	max-width: 360px;
	margin: 15px auto;
	padding: 15px 20px;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-ms-transition: all .3s;
		transition: all .3s;
}
.btn:link, .btn:visited {
	color: #fffffd;
	font-style: normal;
	text-decoration: none;
}
.btn:hover {
	color: #fffffb;
	background-color: #00a761;
}


/*
#             $$\       $$\                     
#             \__|      $$ |                    
#  $$\    $$\ $$\  $$$$$$$ | $$$$$$\   $$$$$$\  
#  \$$\  $$  |$$ |$$  __$$ |$$  __$$\ $$  __$$\ 
#   \$$\$$  / $$ |$$ /  $$ |$$$$$$$$ |$$ /  $$ |
#    \$$$  /  $$ |$$ |  $$ |$$   ____|$$ |  $$ |
#     \$  /   $$ |\$$$$$$$ |\$$$$$$$\ \$$$$$$  |
#      \_/    \__| \_______| \_______| \______/ 
#                                               
#                                               
#                                               
*/
.video-embed-wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 620px;
	position: relative;
}
.video-embed {
	position: relative;
	margin: 150px 0 30px;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
.video-embed img,
.video-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/*
#                                $$\ $$\                                                                   
#                                $$ |\__|                                                                  
#  $$$$$$\$$$$\   $$$$$$\   $$$$$$$ |$$\  $$$$$$\         $$$$$$\  $$\   $$\  $$$$$$\   $$$$$$\  $$\   $$\ 
#  $$  _$$  _$$\ $$  __$$\ $$  __$$ |$$ | \____$$\       $$  __$$\ $$ |  $$ |$$  __$$\ $$  __$$\ $$ |  $$ |
#  $$ / $$ / $$ |$$$$$$$$ |$$ /  $$ |$$ | $$$$$$$ |      $$ /  $$ |$$ |  $$ |$$$$$$$$ |$$ |  \__|$$ |  $$ |
#  $$ | $$ | $$ |$$   ____|$$ |  $$ |$$ |$$  __$$ |      $$ |  $$ |$$ |  $$ |$$   ____|$$ |      $$ |  $$ |
#  $$ | $$ | $$ |\$$$$$$$\ \$$$$$$$ |$$ |\$$$$$$$ |      \$$$$$$$ |\$$$$$$  |\$$$$$$$\ $$ |      \$$$$$$$ |
#  \__| \__| \__| \_______| \_______|\__| \_______|       \____$$ | \______/  \_______|\__|       \____$$ |
#                                                              $$ |                              $$\   $$ |
#                                                              $$ |                              \$$$$$$  |
#                                                              \__|                               \______/ 
*/
@media only screen and (max-width: 74em) {
	.header, .main {
		width: 90%;
	}
	.main_left {
		padding: 20px;
	}
	.main_left-image {
		left: 100%;
	}
	/*HELPER FOR BREAKS DUE TO HOLDING LAYOUT PIXEL PERFECT PER DESIGNER*/
	.brk {
		display: none;
	}
}
@media only screen and (max-width: 64em) {
	.main_left, .main_right {
		display: block;
		width: 100%;
		height: auto;
	}
	.main_left-image {
		display:none;
	}
	.video-embed {
		margin: 10px 0 20px;
	}
}





